body {
    background-color: rgb(2, 9, 34);
}
.conteiner {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto; 
}
header
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 20%;
   padding-top: 5%; 
   padding-left: 5%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: white;
    padding-top: 1%;
    padding-right: 10%;
    width: 37%;
    font-size: 19px;
}
main
{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    width: 100%;
    
}

.texto
{
    position: relative;
    padding-left: 5%;
    width: 40%;
}
h1{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    color: white;
    margin-block-end: 5%;
}
.p1{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: rgba(255, 250, 250, 0.322);
    position: relative;
}
.bateria
{
    position: relative;
    width: 60%;
}
.circle{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background:  radial-gradient(50.07% 50.07% at 50% 49.93%, #9916FF 0%, rgba(169, 115, 211, 0) 100%);
}
.image
{
    position: relative;
    width: 100%;
    padding-top: 2%;
}
a
{
    text-decoration: none;
    color: white;
}
.Sign{
    color: rgb(13, 153, 111);
}
.log{
    color: white;
    border-left: 1px solid grey;
    padding-left: 7%;
}
.but
{
    position: relative;
    color: white;
    background-color: rgb(26, 247, 137);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3%;
    padding-left: 33%;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    color: white;
    margin-block-end: 1%;
}
.p2{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: rgba(255, 250, 250, 0.322);
    margin-top: 0%;
    margin-left: 15px;
}
.butt
{
    color: black;
    background-color: white;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 170px;
    height: 50px;
    margin-left: 160px;
}

.pad-sm
{
    background-color: rgb(248, 241, 241);
    border-radius: 100%;
    width: 118px;
    height: 118px;
    position: absolute;

}
.pad-lg
{
    background-color: rgb(243, 239, 239);
    border-radius: 100%;
    width: 162px;
    height: 162px;
    position: absolute;
}
.padright1
{
    top: 9%;
    left: 83%;
}
.padright2
{
    top: 30%;
    left: 75%;
}
.padright3
{
    top: 55%;
    left: 64%;
}
.padcenter2
{
    top: 19%;
    left: 52%;
}
.padleft1
{
    top: 9%;
    left: 3%;
}
.padleft2
{
    top: 30%;
    left: 10%;
}
.padleft3
{
    top: 55%;
    left: 16%;
}
.padcenter1
{
    top: 19%;
    left: 28%;
}